* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 1.3em;
}

li {
    list-style-type: none;
}

.tw {
    color: white;
}

.btn {
    height: 46px;
    border: none;
    border-radius: 50px;
}

/* NAVBAR */

.links ul a:hover {
    text-decoration: underline;
}

.links ul {
    height: 60px;
    gap: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav {
    min-width: 1300px;
    height: 70px;
    background-color: #255ee9;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .container {
    min-width: 1300px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo,
.login {
    height: 60px;
    width: 110px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.logo img {
    height: 30px;
}

.links {
    height: 60px;
    width: 700px;
}

.login .btn-login {
    width: 66px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 50px;
}

.login .btn-login a {
    color: black;
}

.login a:hover {
    color: #255ee9;
}

/* /NAVBAR */

/* HEADER */
header {
    height: 550px;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-container {
    height: 300px;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

header .header-container p {
    text-align: center;
    font-size: larger;

}

header .header-container .download-button {
    width: 180px;
    background-color: white;
    font-size: 1em;
}

header .header-container .download-button a {
    color: black;
}
header .header-container .download-button a:hover {
    color: #255ee9 ;
}


header .header-container .browser-open-button {
    width: 250px;
    background-color: #23272a;
    font-size: 1em;
    color: white;
}

/* /HEADER */

/* MAIN*/
.wave {
    margin-bottom: -50px;
}

/*Corretta la rotazione con il transform*/
.wave2 {
    margin-top: -50px;
    transform: rotate(180deg)
    
}

main .block {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

main .block-final {
    height: 1200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 70px;

}

main .one,
.three {
    background-color: white;
}

main .two,
.block-final {
    background-color: #f6f6f6;
}

.txt h1 {
    margin-bottom: 25px;
}

.bo-text {
    height: 370px;
    width: 370px;
}


.bt-text {
    height: 370px;
    width: 370px;
}

.bt-image {
    height: 370px;
}

.bth-image {
    height: 370px;
}

.bth-text {
    height: 370px;
    width: 370px;
}

.bf-text {
    height: 130px;
    width: 1070px;
    text-align: center;
}

.bf-image {
    height: 500px;
}

.bf-image2 {
    margin-bottom: -90px;
}

.bf-text2 {
    height: 55px;
}

.download-button2 {
    height: 45px;
    width: 175px;
    background-color: #7289da;
    font-size: 1em;
    color: white;
}

/* /MAIN */

/* FOOTER */

footer {
    height: 500px;
    background-color: #23272a;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

footer .footer-container {
    height: 450px;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.socials h2 {
    color: #738adc;
}

.footer-list strong {
    color: #738adc;
}

.socials {
    height: 135px;
    width: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



footer .footer-container .socials ul .flag {
    height: 16px;
    width: 23px;
}

.social-icons {
    padding-top: 10px;
}


.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.footer-list ul li {
    margin-top: 15px;
}

.footer-list ul li a:hover {
    text-decoration: underline;
}

.footer-end {
    width: 1100px;
    border-top: 1px solid #6c90e8;
    display: flex;
    justify-content: space-between;

}

.logo2 img {
    height: 30px;
    margin-left: 22px;
}

.signin {
    width: 80px;
    height: 35px;
    background-color: #7289da;
    color: white;
    border: none;
    border-radius: 50px;
    margin-right: 22px;
}

section .logo2,
.signin {
    margin-top: 20px;
}

/* /FOOTER */